/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/public/back/assets/images/cv_photo
/public/back/assets/images/adverts
/public/back/assets/images/banner
/public/back/assets/images/companies
/public/back/assets/images/cvs
/public/back/assets/images/trainings