.contact-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    background-image: url(../images/contact-back.png);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contact-info-p{
    margin-left: 25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

a.contact-email{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


.contact-info>div>h2 {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
}

.contact-info>div>p {
    color: #C9C9C9;
    width: 70%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}



.user-data {
    padding: 0 30px;
    margin-top: 10px;
}

.contact-data {
    color: #C9C9C9;
    padding: 30px;
}

.phonebox,
.mailbox,
.locationbox {
    display: flex;
    line-height: 2.5;
    margin: 10px 0;

}


.header-info{
    padding: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(4, 15, 15, 0.6), rgba(32, 34, 80, 0.6)), url(../images/main.png);
    background-position: center;
}

.header-info>div>h3 {
    text-align: center;
    color: white;
}


.social-media {
    display: flex;
    gap: 20px;
    margin-left: 25px;
}

.contact-right{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.form-inner{
    display: flex;
    flex-direction: column;
}

.form1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-inner2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.userdata-container label{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #8D8D8D;
}

.userdata-container input{
    border-bottom: 1px solid #8D8D8D;;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: transparent;
    padding: 5px;
}

.userdata-container input:focus{
    outline: none;
}

.contact-send{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 54px;
    background: #8843E1;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.12);
    border-radius: 5px;    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.contact-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
}


@media screen and (max-width: 768px) {
    .contact-info{
        width: 95%;
    }

    .form1{
        flex-direction: column;
    }
}