.header-info {
    padding: 60px;
    background-repeat: no-repeat;
    background-size: cover !important;
    background: linear-gradient(0deg, rgba(4, 15, 15, 0.6), rgba(32, 34, 80, 0.6)),
      url(../images/main.png);
    background-position: center;
  }
  
  .header-info > div > h3 {
    text-align: center;
    color: white;
  }
  
  .header-links-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .header-links {
    width: 222px;
    height: 69px;
    background: #9559e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  
  .header-links:hover {
    background: #ffffff;
    color: #9559e5;
  }